* {
    background-color: rgb(245, 250, 255);
    color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

a {
    text-decoration: none;
}

p, li {
    font-size: 16px;
    margin: 8px 0;
    line-height: 22px;
    color: rgb(78, 78, 78);
}

header {
    font-size: 30px;
}

#nav-bar {
    border-right-style: solid;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main-doc {
    position: absolute;
    left: 305px;
}

#nav-bar a {
    border-top-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 1px;
}

#nav-bar > * {
    padding: 15px 20px;
}

.main-section {
    margin: 26px 0;
}

.main-section > *{
    margin: 15px 30px;
}

pre {
    background-color: rgb(223, 223, 223);
    padding: 20px;
    display: block;
    border: 1px solid rgb(128, 128, 128);
    white-space: normal;
}

pre code {
    background-color: rgb(223, 223, 223);
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}